absl-py==1.4.0
altair==5.2.0
amazon-braket-default-simulator==1.20.0.post0
amazon-braket-schemas==1.19.1.post0
amazon-braket-sdk==1.57.1
antlr4-python3-runtime==4.9.2

autograd==1.6.2
boto3==1.34.14



distributed==2023.5.0

ensure==1.0.4

h5py==3.10.0
-e git+https://github.com/nagarajRPoojari/Hybrid-QC-CNN.git@20929a1a061de7017bb2e10b60c01be8256eb645#egg=HybridQCCNN
ibm-cloud-sdk-core==3.18.2
ibm-platform-services==0.48.1
IBMQuantumExperience==2.0.4
idna==3.6
importlib-metadata==6.11.0
importlib-resources==6.1.1
ipykernel @ file:///D:/bld/ipykernel_1698244157926/work
ipython @ file:///D:/bld/ipython_1680185618122/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1699283905679/work
jupyter_core @ file:///D:/bld/jupyter_core_1702908966605/work
keras==2.11.0
kiwisolver==1.4.5
libclang==16.0.6
locket==1.0.0
lz4==4.3.3
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work


numpy==1.23.5
oauthlib==3.2.2

oqpy==0.2.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==2.0.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd==1.4.1
pbr==6.0.0
PennyLane==0.33.1
PennyLane-Lightning==0.33.1
PennyLane-qiskit==0.33.1
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==10.1.0
pkgutil_resolve_name==1.3.10
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1701708255999/work
plotly==5.18.0
ply==3.11
promise==2.3
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
protobuf==3.20.3
psutil @ file:///D:/bld/psutil_1702833222779/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==14.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.13
pydeck==0.8.1b0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
PyJWT==2.8.0
pyparsing==3.1.1
pyspnego==0.10.2
python-box==6.0.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
pyzmq @ file:///D:/bld/pyzmq_1701783353652/work
qiskit==0.45.1
qiskit-aer==0.13.1
qiskit-ibm-provider==0.7.3
qiskit-ibm-runtime==0.17.0
qiskit-ibmq-provider==0.20.2
qiskit-terra==0.45.1


scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.1


streamlit==1.29.0

tensorboard==2.11.2
tensorflow==2.11.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0

tqdm==4.66.1

urllib3==2.1.0

