


autograd==1.6.2
boto3==1.34.14



distributed==2023.5.0

ensure==1.0.4

h5py==3.10.0
-e git+https://github.com/nagarajRPoojari/Hybrid-QC-CNN.git@20929a1a061de7017bb2e10b60c01be8256eb645#egg=HybridQCCNN
ibm-cloud-sdk-core==3.18.2
ibm-platform-services==0.48.1
IBMQuantumExperience==2.0.4

matplotlib==3.7.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work


numpy==1.23.5
oauthlib==3.2.2


PennyLane==0.33.1
PennyLane-Lightning==0.33.1
PennyLane-qiskit==0.33.1


python-box==6.0.2

